Django==5.2.8
django-localflavor==5.0
django-statici18n==2.6.0
django-analytical==3.2.0
django-dotenv==1.4.2
django-autocomplete-light==3.12.1
django-waffle==5.0.0
django-htmx==1.26.0
django-sass==1.1.0
django-ckeditor==6.6.1  # Next version show security alert (maybe update ckeditor version 5)

# Minify / Compress CSS/JS
django-pipeline==4.1.0
jsmin==3.0.1

voluptuous==0.15.2
attrs==25.4.0
cattrs==25.3.0
certifi==2025.11.12
unidecode==1.4.0
requests==2.32.5

phonenumberslite==9.0.18 # Useful in admission
pendulum==3.1.0 # Useful in internship

# PostgreSQL
psycopg2-binary==2.9.10

# Testing & quality
tblib==3.2.2  # Useful to get better stacktrace with parallel tests
diff-cover==9.7.2  # Useful for diff-quality
pycodestyle==2.14.0
pylint==4.0.3
freezegun==1.5.5
mock==5.2.0
django-hijack==3.7.4

# Production de fichiers
# xls
openpyxl==3.1.5
# pdf
weasyprint==66.0

# Bootstrap
django-bootstrap3==25.3
django-bootstrap5==25.3

# Django-admin
django-admin-list-filter-dropdown==1.0.3

# Queues
pika==1.3.2

# OpenTelemetry
opentelemetry-api==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-instrumentation-django==0.59b0
opentelemetry-instrumentation-psycopg2==0.59b0
opentelemetry-instrumentation-urllib3==0.59b0
opentelemetry-exporter-otlp==1.38.0

# Modules transverses
git+https://github.com/uclouvain/osis-document-components.git@1.0.1#egg=osis_document_components
git+https://github.com/uclouvain/osis-signature.git@0.1.1#egg=osis_signature
git+https://github.com/uclouvain/osis-notification.git@0.1.10#egg=osis_notification
git+https://github.com/uclouvain/osis-async.git@0.11#egg=osis_async
